In [2]:
import pandas as pd
import sqlite3

df = pd.read_csv('academy_awards.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [5]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

In [6]:
df['Unnamed: 7'].value_counts()

 while requiring no dangerous solvents. [Systems]"    1
*                                                     1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

In [8]:
df['Unnamed: 8'].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [9]:
df['Unnamed: 9'].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [10]:
df['Unnamed: 10'].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [11]:
df.shape

(10137, 11)

### Filtrer les données

In [12]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [16]:
df['Year'] = df['Year'].str[0:4]

In [17]:
df['Year'].dtypes

dtype('O')

In [18]:
 df['Year'] = df['Year'].astype(int)

In [19]:
df['Won?'].dtypes

dtype('O')

In [20]:
df['Year'].dtypes

dtype('int32')

In [21]:
# On souhaite uniquement retenir les années > 2000( donc de 2000 - 2010)

later_than_2000 = df[df['Year'] > 2000]

In [22]:
later_than_2000.value_counts()

Series([], dtype: int64)

In [24]:
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
later_than_2000.shape

(1294, 11)

In [27]:
# Nous utiliserons cette variable afin de pouvoir filtrer les catégories à savoir:

# Actor -- Leading Role
# Actor -- Supporting Role
# Actress -- Leading Role
# Actress -- Supporting Role

# Créer une liste contenant ces 4 catégories
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

In [29]:
# Avec la méthode isin(), on va filtrer les catégories. Le but étant de garder les lignes pour lesquelles la colonne 
# catégories présente l'une des 4 valeurs récentes.

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [30]:
nominations.shape

(200, 11)

### Nettoyer les colonnes Unnamed et Won?

In [34]:
# Créer un dictionnaire de remplacement ayant pour but de remplacer les Yes par 1 et les No par 0
replacements = {"YES":1,"NO":0}

In [44]:
 # On utilise la méthode copy()Vafin de vérifier que le remplecement aura uniquement lieu sur la colonne won? pour éviter l'avertissement
nominations = nominations.copy()

In [45]:
# On utilise ensuite la méthode MAP pour remplacer les valeurs de la colonne Won?
nominations["Won?"] = nominations["Won?"].map(replacements)

In [46]:
nominations["Won"] = nominations["Won?"]

In [1]:
nominations.head()

NameError: name 'nominations' is not defined

In [33]:
# On va maintenant supprimer toutes les colonnes unitiles(Won? & les Unnamed)

# Pour ce faire, nous allons commencer par créer une liste
drop_cols = ["Won?","Unnamed: 5","Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

In [35]:
# Utilisons la méthode drop() à la table nominations pour supprimer ces colonnes indésirables.
final_nominations = nominations.drop(drop_cols, axis=1)

In [36]:
# Vérifions que les entetes sélectionnées ont bien été supprimé
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NaN

### Nettoyage de la colone Additionnal Info

In [37]:
# Le but ici est de séparer ces deux colonnes afin d'obtenir deux colonnes(moovie & character) de la table nominations
# de la base de donnée academy_awards.db
# Nous allons utiliser la méthode str.rstrip() pour nettoyer cette colonne.

additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [39]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [40]:
# Nous allons par la suite séparer le nom du film ( Additional) et le Role (Info)
# Pour ce faire nous allons utiliser la méthode split()

additional_info_two = additional_info_one.str.split(" {'", expand=True)

In [41]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [44]:
# dans une variable nous allons uniquement récupérer les titres des films
movie_names = additional_info_two[0]

In [46]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [47]:
characters = additional_info_two[1]

In [48]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [49]:
# Donc ce que nous allons faire, c'est d'ajouter ces 2 colonnes(movie_names & characters) à la table final_nominations.

final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters

In [54]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,NaN,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,NaN,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,NaN,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,NaN,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,NaN,127 Hours,Aron Ralston

In [55]:
# Nous allons ensuite supprimer la colonne Additional Info car nous l'avons spliter précédement et séparer en Movie et Character

final_nominations.drop(['Additional Info'], axis=1, inplace=True)

KeyError: "['Additional Info'] not found in axis"

In [56]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,NaN,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,NaN,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,NaN,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,NaN,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,NaN,127 Hours,Aron Ralston

In [1]:
# Maintenant nous allons transférer notre dataset sur SQlite car ceci est l'essence meme du travail demandé.

### Exporter vers SQLite

In [57]:
# On utilisera la méthode to_sql(name, connexion), et index = False  qui permet de garder les noms de colonnes de
#final_nominations(Year, Category) 

from pandas.io import sql

In [60]:
final_nominations.dtypes

Year           int32
Category      object
Nominee       object
Won          float64
Movie         object
Character     object
dtype: object

In [61]:
connexion = sqlite3.connect('nominations.db')

In [62]:
final_nominations.to_sql('nominations', connexion, index=False)

200