In [2]:
import pandas as pd
import sqlite3

df = pd.read_csv('academy_awards.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [6]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

In [9]:
df['Unnamed: 7'].value_counts()

 while requiring no dangerous solvents. [Systems]"    1
*                                                     1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

In [10]:
df['Unnamed: 8'].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [11]:
df['Unnamed: 9'].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [12]:
df['Unnamed: 10'].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [13]:
df.shape

(10137, 11)

### Filtrer les donn√©es

In [14]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [16]:
df['Year'] = df['Year'].str[0:4]

In [17]:
df['Year'].dtypes

dtype('O')

In [18]:
 df['Year'] = df['Year'].astype(int)

In [20]:
df['Won?'].dtypes

dtype('O')

In [21]:
df['Year'].dtypes

dtype('int32')

In [22]:
# On souhaite uniquement retenir les ann√©es > 2000( donc de 2000 - 2010)

later_than_2000 = df[df['Year'] > 2000]

In [23]:
later_than_2000.value_counts()

Series([], dtype: int64)

In [26]:
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
later_than_2000.shape

(1294, 11)

In [28]:
# Nous utiliserons cette variable afin de pouvoir filtrer les cat√©gories √† savoir:

# Actor -- Leading Role
# Actor -- Supporting Role
# Actress -- Leading Role
# Actress -- Supporting Role

# Cr√©er une liste contenant ces 4 cat√©gories
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

In [29]:
# Avec la m√©thode isin(), on va filtrer les cat√©gories. Le but √©tant de garder les lignes pour lesquelles la colonne 
# cat√©gories pr√©sente l'une des 4 valeurs r√©centes.

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [30]:
nominations.shape

(200, 11)

### Nettoyer les colonnes Unnamed et Won?

In [32]:
# Cr√©er un dictionnaire de remplacement ayant pour but de remplacer les Yes par 1 et les No par 0
replacements = {"YES":1,"NO":0}

In [34]:
 # On utilise la m√©thode copy() afin de v√©rifier que le remplecement aura uniquement lieu sur la colonne won? pour √©viter l'avertissement
nominations = nominations.copy()

In [35]:
# On utilise ensuite la m√©thode MAP pour remplacer les valeurs de la colonne Won?
nominations["Won?"] = nominations["Won?"].map(replacements)

In [36]:
nominations["Won"] = nominations["Won?"]

In [37]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [38]:
# On va maintenant supprimer toutes les colonnes unitiles(Won? & les Unnamed)

# Pour ce faire, nous allons commencer par cr√©er une liste
drop_cols = ["Won?","Unnamed: 5","Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

In [39]:
# Utilisons la m√©thode drop() √† la table nominations pour supprimer ces colonnes ind√©sirables.
final_nominations = nominations.drop(drop_cols, axis=1)

In [40]:
# V√©rifions que les entetes s√©lectionn√©es ont bien √©t√© supprim√©
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

### Nettoyage de la colone Additionnal Info

In [42]:
# Le but ici est de s√©parer ces deux colonnes afin d'obtenir deux colonnes(moovie & character) de la table nominations
# de la base de donn√©e academy_awards.db
# Nous allons utiliser la m√©thode str.rstrip() pour nettoyer cette colonne.

additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [43]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [44]:
# Nous allons par la suite s√©parer le nom du film ( Additional) et le Role (Info)
# Pour ce faire nous allons utiliser la m√©thode split()

additional_info_two = additional_info_one.str.split(" {'", expand=True)

In [45]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [46]:
# dans une variable nous allons uniquement r√©cup√©rer les titres des films
movie_names = additional_info_two[0]

In [47]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [48]:
# Dans une variable characters, nous r√©cup√©rons les roles(Info)
characters = additional_info_two[1]

In [49]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [50]:
# Donc ce que nous allons faire, c'est d'ajouter ces 2 colonnes(movie_names & characters) √† la table final_nominations.

final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters

In [52]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [53]:
# Nous allons ensuite supprimer la colonne Additional Info car nous l'avons spliter pr√©c√©dement et s√©parer en Movie et Character

final_nominations.drop(['Additional Info'], axis=1, inplace=True)

In [54]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

In [55]:
# Maintenant nous allons transf√©rer notre dataset sur SQlite car ceci est l'essence meme du travail demand√©.

### Exporter vers SQLite

In [1]:
# On utilisera la m√©thode to_sql(name, connexion), et index = False  qui permet de garder les noms de colonnes de
#final_nominations(Year, Category) 

from pandas.io import sql

In [2]:
final_nominations.dtypes

NameError: name 'final_nominations' is not defined

In [58]:
connexion = sqlite3.connect('nominations.db')

In [62]:
final_nominations.to_sql('nominations', connexion, if_exists='replace', index = False)

200

### Cr√©er des Relations sur SQLITE

### Rappel table

In [1]:
import sqlite3

connexion = sqlite3.connect('nominations.db')

In [2]:
# Pour afficher le sch√©ma de la table.
connexion.execute('pragma table_info(nominations)').fetchall()

[(0, 'Year', 'INTEGER', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'INTEGER', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Character', 'TEXT', 0, None, 0)]

In [3]:
# Afficher les 10 premi√®res lignes de la table nominations :
for row in connexion.execute('select * from nominations limit 10 ;').fetchall():
    print(row)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

### Cr√©er la table ceremonies

In [5]:
# executemany(), m√©thode permettant d'ajouter en masse.

In [4]:
connexion.execute('create table ceremonies(id integer primary key, Year integer, Host text);').fetchall()

OperationalError: table ceremonies already exists

In [5]:
# Requete permettant de v√©rifier que la table est bien pr√©sente sur jupyter notebook.

connexion.execute("select name from sqlite_master where type ='table';").fetchall()

[('ceremonies',), ('nominations_tow',), ('nominations_two',), ('nominations',)]

In [11]:
# regarder le sch√©ma de la table ceremonies
connexion.execute("pragma table_info(ceremonies);").fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'Year', 'INTEGER', 0, None, 0),
 (2, 'Host', 'TEXT', 0, None, 0)]

In [7]:
# cr√©eons une liste de tupples qui contiendra toutes les valeurs de la table ceremonies.
year_hosts = [(2010, "Steve Martin"),
        (2009, "Hugh Jackman"),
        (2008, "Jon Stewart"),
        (2007, "Billen DeGeneres"),
        (2006, " Jon Stewart"),
        (2005, "Chris Rock"),
        (2004, "Billy Chrystal"),
        (2003, "Steve Martin"),
        (2002, "Whoopi Goldberg"),
        (2001, "Steve Martin"),
        (2000, "Billy Chrystal")]

In [8]:
insert_query = 'insert into ceremonies (Year, Host) values (?, ?);'

In [12]:
# Par la suite, utilisons la m√©thode executemany() qui permettra d'jouter les donn√©es de year_host dans la table c√©remonies
connexion.executemany(insert_query, year_hosts).fetchall()

[]

In [17]:
# si la requete ne r√©pond pas, il faudra faire un connexion.comit()

In [14]:
# l'on peut aussi v√©rifier sur jupyter notebook √† travers la requete :
connexion.execute('select * from ceremonies limit 10;').fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Billen DeGeneres'),
 (5, 2006, ' Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Chrystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

### Contraintes de cl√© externe

In [19]:
# Elle permet a sqlite de s'assurer que les cl√©s externes sont bien ref√©renc√©s dans d'autres tables.
# En outre, pour √©viter de lier des donn√©es avec des cl√©s inexistantes.
# Apr√®s cette requete, si elle n'est pas ref√©renc√© dans une autre table, elle retourne un message d'√©rreur. 

connexion.execute('pragma foreign_keys = on;').fetchall()

[]

### Ralation one-to-many entre la table nominations et c√©r√©monies

In [20]:
# cr√©ation de la table nominations_two.
connexion.execute("create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremony_id integer references ceremonies(id));").fetchall()
connexion.commit()

In [21]:
# v√©rifions que notre table a bien √©t√© cr√©e.
connexion.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'category', 'TEXT', 0, None, 0),
 (2, 'nominee', 'TEXT', 0, None, 0),
 (3, 'movie', 'TEXT', 0, None, 0),
 (4, 'character', 'TEXT', 0, None, 0),
 (5, 'won', 'INTEGER', 0, None, 0),
 (6, 'ceremony_id', 'INTEGER', 0, None, 0)]

In [22]:
joined_nominations_query = 'select nominations.Category, nominations.Nominee, nominations.Movie, nominations.Character, nominations.Won, ceremonies.id from nominations inner join ceremonies on nominations.Year == ceremonies.Year;'

joined_nominations = connexion.execute(joined_nominations_query).fetchall()

In [18]:
joined_nominations

[('Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 ('Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 12),
 ('Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 ('Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  12),
 ('Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 ('Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  12),
 ('Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 ('Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  12),
 ('Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1),
 ('Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 12),
 ('Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 ('Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  12),
 ('Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 ('Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  12),
 ('Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 ('Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  12),
 ('Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 ('Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  12),
 ('Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1),
 ('Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  12),
 ('Actress -- Leading Role',
  'Annette Bening',
  'The Kids Are All Right',
  'Nic',
  0,
  1),
 ('Actress -- Leading Role',
  'Annette Bening',
  'The Kids Are All Right',
  'Nic',
  0,
  12),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Rabbit Hole', 'Becca', 0, 1),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Rabbit Hole', 'Becca', 0, 12),
 ('Actress -- Leading Role',
  'Jennifer Lawrence',
  "Winter's Bone",
  'Ree',
  0,
  1),
 ('Actress -- Leading Role',
  'Jennifer Lawrence',
  "Winter's Bone",
  'Ree',
  0,
  12),
 ('Actress -- Leading Role',
  'Natalie Portman',
  'Black Swan',
  'Nina Sayers/The Swan Queen',
  1,
  1),
 ('Actress -- Leading Role',
  'Natalie Portman',
  'Black Swan',
  'Nina Sayers/The Swan Queen',
  1,
  12),
 ('Actress -- Leading Role',
  'Michelle Williams',
  'Blue Valentine',
  'Cindy',
  0,
  1),
 ('Actress -- Leading Role',
  'Michelle Williams',
  'Blue Valentine',
  'Cindy',
  0,
  12),
 ('Actress -- Supporting Role',
  'Amy Adams',
  'The Fighter',
  'Charlene Fleming',
  0,
  1),
 ('Actress -- Supporting Role',
  'Amy Adams',
  'The Fighter',
  'Charlene Fleming',
  0,
  12),
 ('Actress -- Supporting Role',
  'Helena Bonham Carter',
  "The King's Speech",
  'Queen Elizabeth',
  0,
  1),
 ('Actress -- Supporting Role',
  'Helena Bonham Carter',
  "The King's Speech",
  'Queen Elizabeth',
  0,
  12),
 ('Actress -- Supporting Role',
  'Melissa Leo',
  'The Fighter',
  'Alice Ward',
  1,
  1),
 ('Actress -- Supporting Role',
  'Melissa Leo',
  'The Fighter',
  'Alice Ward',
  1,
  12),
 ('Actress -- Supporting Role',
  'Hailee Steinfeld',
  'True Grit',
  'Mattie Ross',
  0,
  1),
 ('Actress -- Supporting Role',
  'Hailee Steinfeld',
  'True Grit',
  'Mattie Ross',
  0,
  12),
 ('Actress -- Supporting Role',
  'Jacki Weaver',
  'Animal Kingdom',
  "Janine 'Smurf' Cody",
  0,
  1),
 ('Actress -- Supporting Role',
  'Jacki Weaver',
  'Animal Kingdom',
  "Janine 'Smurf' Cody",
  0,
  12),
 ('Actor -- Leading Role', 'Jeff Bridges', 'Crazy Heart', 'Bad Blake', 1, 2),
 ('Actor -- Leading Role', 'Jeff Bridges', 'Crazy Heart', 'Bad Blake', 1, 13),
 ('Actor -- Leading Role',
  'George Clooney',
  'Up in the Air',
  'Ryan Bingham',
  0,
  2),
 ('Actor -- Leading Role',
  'George Clooney',
  'Up in the Air',
  'Ryan Bingham',
  0,
  13),
 ('Actor -- Leading Role', 'Colin Firth', 'A Single Man', 'George', 0, 2),
 ('Actor -- Leading Role', 'Colin Firth', 'A Single Man', 'George', 0, 13),
 ('Actor -- Leading Role',
  'Morgan Freeman',
  'Invictus',
  'Nelson Mandela',
  0,
  2),
 ('Actor -- Leading Role',
  'Morgan Freeman',
  'Invictus',
  'Nelson Mandela',
  0,
  13),
 ('Actor -- Leading Role',
  'Jeremy Renner',
  'The Hurt Locker',
  'Staff Sergeant William James',
  0,
  2),
 ('Actor -- Leading Role',
  'Jeremy Renner',
  'The Hurt Locker',
  'Staff Sergeant William James',
  0,
  13),
 ('Actor -- Supporting Role',
  'Matt Damon',
  'Invictus',
  'Francois Pienaar',
  0,
  2),
 ('Actor -- Supporting Role',
  'Matt Damon',
  'Invictus',
  'Francois Pienaar',
  0,
  13),
 ('Actor -- Supporting Role',
  'Woody Harrelson',
  'The Messenger',
  'Captain Tony Stone',
  0,
  2),
 ('Actor -- Supporting Role',
  'Woody Harrelson',
  'The Messenger',
  'Captain Tony Stone',
  0,
  13),
 ('Actor -- Supporting Role',
  'Christopher Plummer',
  'The Last Station',
  'Tolstoy',
  0,
  2),
 ('Actor -- Supporting Role',
  'Christopher Plummer',
  'The Last Station',
  'Tolstoy',
  0,
  13),
 ('Actor -- Supporting Role',
  'Stanley Tucci',
  'The Lovely Bones',
  'George Harvey',
  0,
  2),
 ('Actor -- Supporting Role',
  'Stanley Tucci',
  'The Lovely Bones',
  'George Harvey',
  0,
  13),
 ('Actor -- Supporting Role',
  'Christoph Waltz',
  'Inglourious Basterds',
  'Col. Hans Landa',
  1,
  2),
 ('Actor -- Supporting Role',
  'Christoph Waltz',
  'Inglourious Basterds',
  'Col. Hans Landa',
  1,
  13),
 ('Actress -- Leading Role',
  'Sandra Bullock',
  'The Blind Side',
  'Leigh Anne Tuohy',
  1,
  2),
 ('Actress -- Leading Role',
  'Sandra Bullock',
  'The Blind Side',
  'Leigh Anne Tuohy',
  1,
  13),
 ('Actress -- Leading Role',
  'Helen Mirren',
  'The Last Station',
  'Sofya',
  0,
  2),
 ('Actress -- Leading Role',
  'Helen Mirren',
  'The Last Station',
  'Sofya',
  0,
  13),
 ('Actress -- Leading Role', 'Carey Mulligan', 'An Education', 'Jenny', 0, 2),
 ('Actress -- Leading Role', 'Carey Mulligan', 'An Education', 'Jenny', 0, 13),
 ('Actress -- Leading Role',
  'Gabourey Sidibe',
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Precious',
  0,
  2),
 ('Actress -- Leading Role',
  'Gabourey Sidibe',
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Precious',
  0,
  13),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Julie & Julia',
  'Julia Child',
  0,
  2),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Julie & Julia',
  'Julia Child',
  0,
  13),
 ('Actress -- Supporting Role', 'Pen√©lope Cruz', 'Nine', 'Carla', 0, 2),
 ('Actress -- Supporting Role', 'Pen√©lope Cruz', 'Nine', 'Carla', 0, 13),
 ('Actress -- Supporting Role',
  'Vera Farmiga',
  'Up in the Air',
  'Alex Goran',
  0,
  2),
 ('Actress -- Supporting Role',
  'Vera Farmiga',
  'Up in the Air',
  'Alex Goran',
  0,
  13),
 ('Actress -- Supporting Role',
  'Maggie Gyllenhaal',
  'Crazy Heart',
  'Jean Craddock',
  0,
  2),
 ('Actress -- Supporting Role',
  'Maggie Gyllenhaal',
  'Crazy Heart',
  'Jean Craddock',
  0,
  13),
 ('Actress -- Supporting Role',
  'Anna Kendrick',
  'Up in the Air',
  'Natalie Keener',
  0,
  2),
 ('Actress -- Supporting Role',
  'Anna Kendrick',
  'Up in the Air',
  'Natalie Keener',
  0,
  13),
 ('Actress -- Supporting Role',
  "Mo'Nique",
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Mary',
  1,
  2),
 ('Actress -- Supporting Role',
  "Mo'Nique",
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Mary',
  1,
  13),
 ('Actor -- Leading Role', 'Richard Jenkins', 'The Visitor', 'Walter', 0, 3),
 ('Actor -- Leading Role', 'Richard Jenkins', 'The Visitor', 'Walter', 0, 14),
 ('Actor -- Leading Role',
  'Frank Langella',
  'Frost/Nixon',
  'Richard Nixon',
  0,
  3),
 ('Actor -- Leading Role',
  'Frank Langella',
  'Frost/Nixon',
  'Richard Nixon',
  0,
  14),
 ('Actor -- Leading Role', 'Sean Penn', 'Milk', 'Harvey Milk', 1, 3),
 ('Actor -- Leading Role', 'Sean Penn', 'Milk', 'Harvey Milk', 1, 14),
 ('Actor -- Leading Role',
  'Brad Pitt',
  'The Curious Case of Benjamin Button',
  'Benjamin Button',
  0,
  3),
 ('Actor -- Leading Role',
  'Brad Pitt',
  'The Curious Case of Benjamin Button',
  'Benjamin Button',
  0,
  14),
 ('Actor -- Leading Role', 'Mickey Rourke', 'The Wrestler', 'Randy', 0, 3),
 ('Actor -- Leading Role', 'Mickey Rourke', 'The Wrestler', 'Randy', 0, 14),
 ('Actor -- Supporting Role', 'Josh Brolin', 'Milk', 'Dan White', 0, 3),
 ('Actor -- Supporting Role', 'Josh Brolin', 'Milk', 'Dan White', 0, 14),
 ('Actor -- Supporting Role',
  'Robert Downey Jr.',
  'Tropic Thunder',
  'Kirk Lazarus',
  0,
  3),
 ('Actor -- Supporting Role',
  'Robert Downey Jr.',
  'Tropic Thunder',
  'Kirk Lazarus',
  0,
  14),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  'Doubt',
  'Father Brendan Flynn',
  0,
  3),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  'Doubt',
  'Father Brendan Flynn',
  0,
  14),
 ('Actor -- Supporting Role',
  'Heath Ledger',
  'The Dark Knight',
  'Joker',
  1,
  3),
 ('Actor -- Supporting Role',
  'Heath Ledger',
  'The Dark Knight',
  'Joker',
  1,
  14),
 ('Actor -- Supporting Role',
  'Michael Shannon',
  'Revolutionary Road',
  'John Givings',
  0,
  3),
 ('Actor -- Supporting Role',
  'Michael Shannon',
  'Revolutionary Road',
  'John Givings',
  0,
  14),
 ('Actress -- Leading Role',
  'Anne Hathaway',
  'Rachel Getting Married',
  'Kym',
  0,
  3),
 ('Actress -- Leading Role',
  'Anne Hathaway',
  'Rachel Getting Married',
  'Kym',
  0,
  14),
 ('Actress -- Leading Role',
  'Angelina Jolie',
  'Changeling',
  'Christine Collins',
  0,
  3),
 ('Actress -- Leading Role',
  'Angelina Jolie',
  'Changeling',
  'Christine Collins',
  0,
  14),
 ('Actress -- Leading Role', 'Melissa Leo', 'Frozen River', 'Ray Eddy', 0, 3),
 ('Actress -- Leading Role', 'Melissa Leo', 'Frozen River', 'Ray Eddy', 0, 14),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Doubt',
  'Sister Aloysius Beauvier',
  0,
  3),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Doubt',
  'Sister Aloysius Beauvier',
  0,
  14),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'The Reader',
  'Hanna Schmitz',
  1,
  3),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'The Reader',
  'Hanna Schmitz',
  1,
  14),
 ('Actress -- Supporting Role', 'Amy Adams', 'Doubt', 'Sister James', 0, 3),
 ('Actress -- Supporting Role', 'Amy Adams', 'Doubt', 'Sister James', 0, 14),
 ('Actress -- Supporting Role',
  'Pen√©lope Cruz',
  'Vicky Cristina Barcelona',
  'Maria Elena',
  1,
  3),
 ('Actress -- Supporting Role',
  'Pen√©lope Cruz',
  'Vicky Cristina Barcelona',
  'Maria Elena',
  1,
  14),
 ('Actress -- Supporting Role', 'Viola Davis', 'Doubt', 'Mrs. Miller', 0, 3),
 ('Actress -- Supporting Role', 'Viola Davis', 'Doubt', 'Mrs. Miller', 0, 14),
 ('Actress -- Supporting Role',
  'Taraji P. Henson',
  'The Curious Case of Benjamin Button',
  'Queenie',
  0,
  3),
 ('Actress -- Supporting Role',
  'Taraji P. Henson',
  'The Curious Case of Benjamin Button',
  'Queenie',
  0,
  14),
 ('Actress -- Supporting Role',
  'Marisa Tomei',
  'The Wrestler',
  'Cassidy',
  0,
  3),
 ('Actress -- Supporting Role',
  'Marisa Tomei',
  'The Wrestler',
  'Cassidy',
  0,
  14),
 ('Actor -- Leading Role',
  'George Clooney',
  'Michael Clayton',
  'Michael Clayton',
  0,
  4),
 ('Actor -- Leading Role',
  'George Clooney',
  'Michael Clayton',
  'Michael Clayton',
  0,
  15),
 ('Actor -- Leading Role',
  'Daniel Day-Lewis',
  'There Will Be Blood',
  'Daniel Plainview',
  1,
  4),
 ('Actor -- Leading Role',
  'Daniel Day-Lewis',
  'There Will Be Blood',
  'Daniel Plainview',
  1,
  15),
 ('Actor -- Leading Role',
  'Johnny Depp',
  'Sweeney Todd The Demon Barber of Fleet Street',
  'Sweeney Todd',
  0,
  4),
 ('Actor -- Leading Role',
  'Johnny Depp',
  'Sweeney Todd The Demon Barber of Fleet Street',
  'Sweeney Todd',
  0,
  15),
 ('Actor -- Leading Role',
  'Tommy Lee Jones',
  'In the Valley of Elah',
  'Hank Deerfield',
  0,
  4),
 ('Actor -- Leading Role',
  'Tommy Lee Jones',
  'In the Valley of Elah',
  'Hank Deerfield',
  0,
  15),
 ('Actor -- Leading Role',
  'Viggo Mortensen',
  'Eastern Promises',
  'Nikolai',
  0,
  4),
 ('Actor -- Leading Role',
  'Viggo Mortensen',
  'Eastern Promises',
  'Nikolai',
  0,
  15),
 ('Actor -- Supporting Role',
  'Casey Affleck',
  'The Assassination of Jesse James by the Coward Robert Ford',
  'Robert Ford',
  0,
  4),
 ('Actor -- Supporting Role',
  'Casey Affleck',
  'The Assassination of Jesse James by the Coward Robert Ford',
  'Robert Ford',
  0,
  15),
 ('Actor -- Supporting Role',
  'Javier Bardem',
  'No Country for Old Men',
  'Anton Chigurh',
  1,
  4),
 ('Actor -- Supporting Role',
  'Javier Bardem',
  'No Country for Old Men',
  'Anton Chigurh',
  1,
  15),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  "Charlie Wilson's War",
  'Gust Avrakotos',
  0,
  4),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  "Charlie Wilson's War",
  'Gust Avrakotos',
  0,
  15),
 ('Actor -- Supporting Role',
  'Hal Holbrook',
  'Into the Wild',
  'Ron Franz',
  0,
  4),
 ('Actor -- Supporting Role',
  'Hal Holbrook',
  'Into the Wild',
  'Ron Franz',
  0,
  15),
 ('Actor -- Supporting Role',
  'Tom Wilkinson',
  'Michael Clayton',
  'Arthur Edens',
  0,
  4),
 ('Actor -- Supporting Role',
  'Tom Wilkinson',
  'Michael Clayton',
  'Arthur Edens',
  0,
  15),
 ('Actress -- Leading Role',
  'Cate Blanchett',
  'Elizabeth: The Golden Age',
  'Queen Elizabeth I',
  0,
  4),
 ('Actress -- Leading Role',
  'Cate Blanchett',
  'Elizabeth: The Golden Age',
  'Queen Elizabeth I',
  0,
  15),
 ('Actress -- Leading Role', 'Julie Christie', 'Away from Her', 'Fiona', 0, 4),
 ('Actress -- Leading Role',
  'Julie Christie',
  'Away from Her',
  'Fiona',
  0,
  15),
 ('Actress -- Leading Role',
  'Marion Cotillard',
  'La Vie en Rose',
  'Edith Piaf',
  1,
  4),
 ('Actress -- Leading Role',
  'Marion Cotillard',
  'La Vie en Rose',
  'Edith Piaf',
  1,
  15),
 ('Actress -- Leading Role',
  'Laura Linney',
  'The Savages',
  'Wendy Savage',
  0,
  4),
 ('Actress -- Leading Role',
  'Laura Linney',
  'The Savages',
  'Wendy Savage',
  0,
  15),
 ('Actress -- Leading Role', 'Ellen Page', 'Juno', 'Juno MacGuff', 0, 4),
 ('Actress -- Leading Role', 'Ellen Page', 'Juno', 'Juno MacGuff', 0, 15),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  "I'm Not There",
  'Jude',
  0,
  4),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  "I'm Not There",
  'Jude',
  0,
  15),
 ('Actress -- Supporting Role',
  'Ruby Dee',
  'American Gangster',
  'Mama Lucas',
  0,
  4),
 ('Actress -- Supporting Role',
  'Ruby Dee',
  'American Gangster',
  'Mama Lucas',
  0,
  15),
 ('Actress -- Supporting Role',
  'Saoirse Ronan',
  'Atonement',
  'Briony Tallis, aged 13',
  0,
  4),
 ('Actress -- Supporting Role',
  'Saoirse Ronan',
  'Atonement',
  'Briony Tallis, aged 13',
  0,
  15),
 ('Actress -- Supporting Role',
  'Amy Ryan',
  'Gone Baby Gone',
  'Helene McCready',
  0,
  4),
 ('Actress -- Supporting Role',
  'Amy Ryan',
  'Gone Baby Gone',
  'Helene McCready',
  0,
  15),
 ('Actress -- Supporting Role',
  'Tilda Swinton',
  'Michael Clayton',
  'Karen Crowder',
  1,
  4),
 ('Actress -- Supporting Role',
  'Tilda Swinton',
  'Michael Clayton',
  'Karen Crowder',
  1,
  15),
 ('Actor -- Leading Role',
  'Leonardo DiCaprio',
  'Blood Diamond',
  'Danny Archer',
  0,
  5),
 ('Actor -- Leading Role',
  'Leonardo DiCaprio',
  'Blood Diamond',
  'Danny Archer',
  0,
  16),
 ('Actor -- Leading Role', 'Ryan Gosling', 'Half Nelson', 'Dan Dunne', 0, 5),
 ('Actor -- Leading Role', 'Ryan Gosling', 'Half Nelson', 'Dan Dunne', 0, 16),
 ('Actor -- Leading Role', "Peter O'Toole", 'Venus', 'Maurice', 0, 5),
 ('Actor -- Leading Role', "Peter O'Toole", 'Venus', 'Maurice', 0, 16),
 ('Actor -- Leading Role',
  'Will Smith',
  'The Pursuit of Happyness',
  'Chris Gardner',
  0,
  5),
 ('Actor -- Leading Role',
  'Will Smith',
  'The Pursuit of Happyness',
  'Chris Gardner',
  0,
  16),
 ('Actor -- Leading Role',
  'Forest Whitaker',
  'The Last King of Scotland',
  'Idi Amin',
  1,
  5),
 ('Actor -- Leading Role',
  'Forest Whitaker',
  'The Last King of Scotland',
  'Idi Amin',
  1,
  16),
 ('Actor -- Supporting Role',
  'Alan Arkin',
  'Little Miss Sunshine',
  'Grandpa',
  1,
  5),
 ('Actor -- Supporting Role',
  'Alan Arkin',
  'Little Miss Sunshine',
  'Grandpa',
  1,
  16),
 ('Actor -- Supporting Role',
  'Jackie Earle Haley',
  'Little Children',
  'Ronnie J. McGorvey',
  0,
  5),
 ('Actor -- Supporting Role',
  'Jackie Earle Haley',
  'Little Children',
  'Ronnie J. McGorvey',
  0,
  16),
 ('Actor -- Supporting Role',
  'Djimon Hounsou',
  'Blood Diamond',
  'Solomon Vandy',
  0,
  5),
 ('Actor -- Supporting Role',
  'Djimon Hounsou',
  'Blood Diamond',
  'Solomon Vandy',
  0,
  16),
 ('Actor -- Supporting Role',
  'Eddie Murphy',
  'Dreamgirls',
  "James 'Thunder' Early",
  0,
  5),
 ('Actor -- Supporting Role',
  'Eddie Murphy',
  'Dreamgirls',
  "James 'Thunder' Early",
  0,
  16),
 ('Actor -- Supporting Role', 'Mark Wahlberg', 'The Departed', 'Dignam', 0, 5),
 ('Actor -- Supporting Role',
  'Mark Wahlberg',
  'The Departed',
  'Dignam',
  0,
  16),
 ('Actress -- Leading Role', 'Pen√©lope Cruz', 'Volver', 'Raimunda', 0, 5),
 ('Actress -- Leading Role', 'Pen√©lope Cruz', 'Volver', 'Raimunda', 0, 16),
 ('Actress -- Leading Role',
  'Judi Dench',
  'Notes on a Scandal',
  'Barbara Covett',
  0,
  5),
 ('Actress -- Leading Role',
  'Judi Dench',
  'Notes on a Scandal',
  'Barbara Covett',
  0,
  16),
 ('Actress -- Leading Role', 'Helen Mirren', 'The Queen', 'The Queen', 1, 5),
 ('Actress -- Leading Role', 'Helen Mirren', 'The Queen', 'The Queen', 1, 16),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'The Devil Wears Prada',
  'Miranda Priestly',
  0,
  5),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'The Devil Wears Prada',
  'Miranda Priestly',
  0,
  16),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'Little Children',
  'Sarah Pierce',
  0,
  5),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'Little Children',
  'Sarah Pierce',
  0,
  16),
 ('Actress -- Supporting Role', 'Adriana Barraza', 'Babel', 'Amelia', 0, 5),
 ('Actress -- Supporting Role', 'Adriana Barraza', 'Babel', 'Amelia', 0, 16),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  'Notes on a Scandal',
  'Sheba Hart',
  0,
  5),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  'Notes on a Scandal',
  'Sheba Hart',
  0,
  16),
 ('Actress -- Supporting Role',
  'Abigail Breslin',
  'Little Miss Sunshine',
  'Olive',
  0,
  5),
 ('Actress -- Supporting Role',
  'Abigail Breslin',
  'Little Miss Sunshine',
  'Olive',
  0,
  16),
 ('Actress -- Supporting Role',
  'Jennifer Hudson',
  'Dreamgirls',
  'Effie White',
  1,
  5),
 ('Actress -- Supporting Role',
  'Jennifer Hudson',
  'Dreamgirls',
  'Effie White',
  1,
  16),
 ('Actress -- Supporting Role', 'Rinko Kikuchi', 'Babel', 'Chieko', 0, 5),
 ('Actress -- Supporting Role', 'Rinko Kikuchi', 'Babel', 'Chieko', 0, 16),
 ('Actor -- Leading Role',
  'Philip Seymour Hoffman',
  'Capote',
  'Truman Capote',
  1,
  6),
 ('Actor -- Leading Role',
  'Philip Seymour Hoffman',
  'Capote',
  'Truman Capote',
  1,
  17),
 ('Actor -- Leading Role', 'Terrence Howard', 'Hustle & Flow', 'DJay', 0, 6),
 ('Actor -- Leading Role', 'Terrence Howard', 'Hustle & Flow', 'DJay', 0, 17),
 ('Actor -- Leading Role',
  'Heath Ledger',
  'Brokeback Mountain',
  'Ennis Del Mar',
  0,
  6),
 ('Actor -- Leading Role',
  'Heath Ledger',
  'Brokeback Mountain',
  'Ennis Del Mar',
  0,
  17),
 ('Actor -- Leading Role',
  'Joaquin Phoenix',
  'Walk the Line',
  'John R. Cash',
  0,
  6),
 ('Actor -- Leading Role',
  'Joaquin Phoenix',

In [16]:
# Nous allons donc injecter toutes les valeurs pr√©c√©dentes dans notre nouvelle table nominations_two.
# faire attention √† l'ordre des colonnes cela  doit matcher avec la variable joined_nominations

In [25]:
insert_nominations_two = 'insert into nominations_two values(null, ?, ?, ?, ?, ?, ?);'
# Juste pour info, null c'est pour la cl√© primaire id de la table nominations_two

In [26]:
# Par la suite, on utilise la m√©thode executemany() pour inserer les donn√©es.
connexion.executemany(insert_nominations_two, joined_nominations).fetchall()
connexion.commit()

In [17]:
connexion.execute("drop table if exists nominations_tow;")
connexion.commit()