In [1]:
import pandas as pd
import sqlite3

df = pd.read_csv('academy_awards.csv', encoding='ISO-8859-1')

In [58]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [60]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
Name: Unnamed: 6, dtype: int64

In [61]:
df['Unnamed: 7'].value_counts()

 while requiring no dangerous solvents. [Systems]"    1
*                                                     1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

In [62]:
df['Unnamed: 8'].value_counts()

*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: Unnamed: 8, dtype: int64

In [63]:
df['Unnamed: 9'].value_counts()

*    1
Name: Unnamed: 9, dtype: int64

In [64]:
df['Unnamed: 10'].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [65]:
df.shape

(10137, 11)

### Filtrer les données

In [66]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [67]:
df['Year'] = df['Year'].str[0:4]

In [70]:
df['Year'].dtypes

dtype('O')

In [71]:
 df['Year'] = df['Year'].astype(int)

In [73]:
df['Year'].dtypes

dtype('int32')

In [75]:
# On souhaite uniquement retenir les années > 2000( donc de 2000 - 2010)

later_than_2000 = df[df['Year'] > 2000]

In [77]:
later_than_2000.value_counts()

Series([], dtype: int64)

In [79]:
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
later_than_2000.shape

(1294, 11)

In [82]:
# Nous utiliserons cette variable afin de pouvoir filtrer les catégories à savoir:

# Actor -- Leading Role
# Actor -- Supporting Role
# Actress -- Leading Role
# Actress -- Supporting Role

# Créer une liste contenant ces 4 catégories
award_categories = ['Actor -- Leading Role','Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

In [85]:
# Avec la meéthode isin(), on va filtrer les catégories. Le but étant de garder les lignes pour lesquelles la colonne 
# catégories présente l'une des 4 valeurs récentes.

nominations = later_than_2000[later_than_2000["Category"].isin(award_categories)]

In [86]:
nominations.shape

(200, 11)

### Nettoyer les colonnes Unnamed et Won?

In [24]:
# Créer un dictionnaire de remplacement ayant pour but de remplacer les Yes par 1 et les No par 0
replacements = {"NO":0, "YES":1}

In [87]:
# On utilise ensuite la méthode MAP pour remplacer les valeurs de la colonne Won?
nominations["Won?"] = nominations["Won?"].map(replacements)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9716\3983187531.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominations["Won?"] = nominations["Won?"].map(replacements)

In [88]:
nominations["Won"] = nominations["Won?"]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9716\380199875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominations["Won"] = nominations["Won?"]

In [89]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [91]:
# On va maintenant supprimer toutes les colonnes unitiles(Won? & les Unnamed)

# Pour ce faire, nous allons commencer par créer une liste
drop_cols = ["Won?","Unnamed: 5","Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

In [92]:
# Utilisons la méthode drop() à la table nominations pour supprimer ces colonnes indésirables.
final_nominations = nominations.drop(drop_cols, axis=1)

In [93]:
# Vérifions que les entetes sélectionnées ont bien été supprimé
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

### Nettoyage de la colone Additionnal Info

In [94]:
# Le but ici est de séparer ces deux colonnes afin d'obtenir deux colonnes(moovie & character) de la table nominations
# de la base de donnée academy_awards.db
# Nous allons utiliser la méthode str.rstrip() pour nettoyer cette colonne.

additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [96]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [97]:
# Nous allons par la suite séparer le nom du film ( Additional) et le Role (Info)
# Pour ce faire nous allons utiliser la méthode split()

additional_info_two = additional_info_one.str.split(" {'", expand=True)

In [98]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [101]:
# dans une variable nous allons uniquement récupérer les titres des films
movie_names = additional_info_two[0]

In [102]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [103]:
characters = additional_info_two[1]

In [104]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [105]:
# Donc ce que nous allons faire, c'est d'ajouter ces 2 colonnes(movie_names & characters) à la table final_nominations.

final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters

In [106]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [107]:
# Nous allons ensuite supprimer la colonne Additional Info car nous l'avons spliter précédement et séparer en Movie et Character

final_nominations.drop(['Additional Info'], axis=1, inplace=True)

In [108]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

In [ ]:
# Maintenant nous allons transférer notre dataset sur SQlite car ceci est l'essence meme du travail demandé.