In [2]:
import sqlite3

connexion = sqlite3.connect('factbook.db')

birth_rate_tuple = connexion.execute("select count(birth_rate) from facts;").fetchall()

print(birth_rate_tuple)

[(228,)]

In [3]:
# on recupère le nombre de valeurs non null de la colonne birth_rate
birth_rate_count = birth_rate_tuple[0][0]
print(birth_rate_count)

228

### Objectifs:

    1. Utiliser la fonction MIN sur la colonne population_growth.
    2. Utiliser la fonction MAX sur la colonne death_rate.
    
    Travail à réaliser sur DB Browser puis sur Jupyter Notebook

In [5]:
population_growth_tuple = connexion.execute("select MIN(population_growth) from facts;").fetchall()
print(population_growth_tuple[0][0])

0.0

In [9]:
death_rate_tuple = connexion.execute('select MAX(death_rate) from facts;').fetchall()
print(death_rate_tuple[0][0])

14.89

### Objectifs :

        1. Utiliser la fonction SUM pour trouver le total de la colonne area_land.
        2. Utiliser la fonction AVG pour trouver la moyenne de la colonne area_water.

        Travail à réaliser sur DB Browser puis sur jupyter Notebook

In [12]:
import sqlite3
connexion = sqlite3.connect('factbook.db')

total_area_land = connexion.execute('select sum(area_land) from facts;').fetchall()
avg_area_water = connexion.execute('select avg(area_water) from facts;').fetchall()

print(total_area_land[0][0])
print(avg_area_water[0][0])

128584834
19067.59259259259