In [2]:
import sqlite3

connexion = sqlite3.connect('factbook.db')

birth_rate_tuple = connexion.execute("select count(birth_rate) from facts;").fetchall()

print(birth_rate_tuple)

[(228,)]

In [3]:
# on recupère le nombre de valeurs non null de la colonne birth_rate
birth_rate_count = birth_rate_tuple[0][0]
print(birth_rate_count)

228

### Objectifs: Trouver les valeurs minimales et maximales d'une colonne en SQL

    1. Utiliser la fonction MIN sur la colonne population_growth.
    2. Utiliser la fonction MAX sur la colonne death_rate.
    
    Travail à réaliser sur DB Browser puis sur Jupyter Notebook

In [5]:
population_growth_tuple = connexion.execute("select MIN(population_growth) from facts;").fetchall()
print(population_growth_tuple[0][0])

0.0

In [9]:
death_rate_tuple = connexion.execute('select MAX(death_rate) from facts;').fetchall()
print(death_rate_tuple[0][0])

14.89

### Objectifs : Calculer des Sommes et Moyennes en SQL 

        1. Utiliser la fonction SUM pour trouver le total de la colonne area_land.
        2. Utiliser la fonction AVG pour trouver la moyenne de la colonne area_water.

        Travail à réaliser sur DB Browser puis sur jupyter Notebook

In [12]:
import sqlite3
connexion = sqlite3.connect('factbook.db')

total_area_land = connexion.execute('select sum(area_land) from facts;').fetchall()
avg_area_water = connexion.execute('select avg(area_water) from facts;').fetchall()

print(total_area_land[0][0])
print(avg_area_water[0][0])

128584834
19067.59259259259

In [13]:
connexion.close()

### Objectifs : Combiner plusieurs fonctions
    Ecrire une requete qui calcule:
        
        - La moyenne de la colonne population
        - La somme de la colonne population
        - Le maximum de la colonne birth_rate

    Travail à réaliser sur DB Browser puis sur Jupyter Notebook
    
    Afficher les 3 resultats que vous assignerez à 3 variables différentes

In [14]:
import sqlite3

connexion = sqlite3.connect('factbook.db')

facts_stats = connexion.execute("select avg(population), sum(population), max(birth_rate) from facts;").fetchall()
print(facts_stats)

[(62094928.32231405, 15026972654, 45.45)]

In [15]:
avg_pop = facts_stats[0][0]
sum_pop = facts_stats[0][1]
max_birth_rate = facts_stats[0][2]

In [16]:
print(avg_pop)
print(sum_pop)
print(max_birth_rate)

62094928.32231405
15026972654
45.45

### Objectifs: Associer les fonctions de calcul avec la condition where

    Ecrire une requete SQL qui calcul la moyenne de la colonne population_growth pour les pays ayant une 
    population supérieure à 10000000 d'habitants.

    Travail à réaliser sur DB Browser puis sur Jupyter Notebook

In [18]:
avg_pop_growth = connexion.execute("select avg(population_growth) from facts where population > 10000000;").fetchall()
print(avg_pop_growth[0][0])

1.4572222222222226

### Sélectionner des éléments ou données uniques

In [19]:
unique_birth_rate = connexion.execute("select distinct birth_rate from facts;").fetchall()
print(unique_birth_rate)

[(38.57,), (12.92,), (23.67,), (8.13,), (38.78,), (15.85,), (16.64,), (13.61,), (12.15,), (9.41,), (15.5,), (13.66,), (21.14,), (11.87,), (10.7,), (11.41,), (24.68,), (36.02,), (17.78,), (22.76,), (8.87,), (20.96,), (14.46,), (17.32,), (8.92,), (42.03,), (18.39,), (42.01,), (23.83,), (36.17,), (10.28,), (20.33,), (35.08,), (36.6,), (13.83,), (12.49,), (16.47,), (27.84,), (34.88,), (35.85,), (15.91,), (28.67,), (9.45,), (9.9,), (9.63,), (10.27,), (23.65,), (15.41,), (18.73,), (18.51,), (22.9,), (16.46,), (33.31,), (30.0,), (10.51,), (37.27,), (19.43,), (10.72,), (12.38,), (34.49,), (30.86,), (12.74,), (8.47,), (31.09,), (8.66,), (16.03,), (24.89,), (35.74,), (33.38,), (15.59,), (22.31,), (23.14,), (9.16,), (13.91,), (19.55,), (16.72,), (17.99,), (31.45,), (14.84,), (18.48,), (8.74,), (18.16,), (7.93,), (25.37,), (19.15,), (26.4,), (21.46,), (14.52,), (8.19,), (None,), (19.91,), (22.98,), (24.25,), (10.0,), (14.59,), (25.47,), (34.41,), (18.03,), (10.45,), (10.1,), (11.37,), (11.55,), (32.61,), (41.56,), (19.71,), (15.75,), (44.99,), (10.18,), (25.6,), (31.34,), (13.29,), (18.78,), (20.54,), (12.0,), (6.65,), (20.25,), (10.42,), (18.2,), (38.58,), (19.8,), (24.95,), (20.64,), (10.83,), (13.33,), (45.45,), (37.64,), (12.14,), (24.44,), (22.58,), (11.05,), (18.32,), (24.38,), (16.37,), (18.28,), (24.27,), (9.74,), (9.27,), (9.84,), (9.14,), (11.6,), (33.75,), (13.5,), (13.7,), (13.57,), (20.87,), (8.63,), (34.23,), (34.52,), (9.08,), (14.19,), (37.03,), (8.27,), (9.91,), (8.42,), (25.77,), (40.45,), (20.75,), (36.91,), (9.64,), (29.19,), (16.34,), (24.67,), (11.99,), (10.5,), (22.17,), (36.39,), (11.19,), (34.16,), (34.13,), (23.0,), (13.46,), (16.33,), (19.4,), (23.74,), (43.79,), (15.43,), (12.17,), (13.07,), (17.0,), (25.04,), (19.16,), (15.96,), (29.98,), (42.13,), (32.26,), (10.2,), (9.23,), (8.88,), (13.77,), (14.48,), (15.22,), (15.33,), (7.42,), (13.45,), (12.56,), (13.8,), (13.0,), (14.33,), (12.67,), (11.33,), (10.91,), (12.11,), (10.9,), (14.08,), (11.91,), (11.1,), (11.26,), (9.88,), (16.13,), (22.89,), (16.82,), (10.86,), (10.31,), (31.11,), (22.99,), (30.24,), (18.6,)]