### Connexion à PostgreSQL

In [1]:
import psycopg2

connexion = psycopg2.connect(dbname="postgres", user="postgres")
cursor = connexion.cursor()
cursor.execute("create table notes(id integer primary key, body text, title text);")
connexion.close()

## Utilisation de Postgresql avec Python

### Connexion avec psycopg2

In [2]:
connexion = psycopg2.connect(dbname="postgres", user="postgres", password='password')
curseur = connexion.cursor()

In [3]:
# connectons nous à la base de données bank_accounts ayant pour user batman et mot de passe robin.

connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
curseur = connexion.cursor()
print(curseur)

<cursor object at 0x0000026A5E41D2E0; closed: 0>

In [4]:
connexion.close()

### Créer une table

In [7]:
connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
curseur = connexion.cursor()
curseur.execute("CREATE TABLE notes(id integer PRIMARY KEY, body text, title text);")
connexion.close()

### Transactions en SQL

In [8]:
# commit(): validera toutes les transactions qui ont été réalisées dans les requetes sql.

In [9]:
connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
curseur = connexion.cursor()
curseur.execute("CREATE TABLE notes(id integer PRIMARY KEY, body text, title text);")
connexion.commit()
connexion.close()

### Commit automatique

In [10]:
# autocommit = True

connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
connexion.autocommit = True
curseur = connexion.cursor()
curseur.execute("CREATE TABLE note2(id integer PRIMARY KEY, body text, title text);")
connexion.close()

### Exécuter des requetes SQL

In [11]:
connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
curseur = connexion.cursor()
curseur.execute("SELECT * FROM notes;")
row = curseur.fetchall()
print(row)

[]

In [15]:
# Rien ne s'affiche car notes ne contient aucune valeur. Ajoutons donc des valeurs à la table note.

connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
curseur = connexion.cursor()
curseur.execute("INSERT INTO notes VALUES(1, 'ceci est notre première note', 'Titre note');")
curseur.execute("SELECT * FROM notes;")
row = curseur.fetchall()
print(row)
connexion.commit()
connexion.close()

UniqueViolation: ERREUR:  la valeur d'une clé dupliquée rompt la contrainte unique « notes_pkey »
DETAIL:  La clé « (id)=(1) » existe déjà.

### Créer des bases de données

In [16]:
connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
connexion.autocommit = True
curseur = connexion.cursor()
curseur.execute("CREATE DATABASE income OWNER batman;")
connexion.close()

### Supprimer des bases données

In [18]:
#Nous allons supprimer la bd income.
connexion = psycopg2.connect(dbname="bank_accounts", user="batman", password="robin")
connexion.autocommit = True
curseur = connexion.cursor()
curseur.execute("DROP DATABASE income;")
connexion.close()

### Projet final: Exploration base de données PostgreSQL

### Exploration de dvdrental avec DISTINCT, COUNT, GROUP BY

### Missions:
        
        -Nous voulons connaitre les différentes notes(colonne rating) des Etats-Unis
        (PG, PG-13, R, etc...) présente dans la table film.
        
        - Nous souhaitons aussi connaitre les différents taux de location (colonne rental_rate)
        présent dans la table film.
        
        - Compter le nombre des différents rating et rental_rate