### Connexion à la base de données

In [1]:
import sqlite3

In [3]:
# connect() qui contient en parametre un fichier qui est la base de données

connexion = sqlite3.connect('jobs.db')

### Créer un Curseur et exécuter une requete SQL sur Python

In [5]:
liste = [1, 'tomates']

In [6]:
t = () # un tuple vide

In [10]:
t = ('Pomme', 'Banane') # l'intéret d'ituliser les tuples que les listes est que les tuples sont plus rapide que les listes
# ce qui est bcp plus optimal pour de grandes bases de données.

In [8]:
apple = t[0]
print(apple)

Pomme

In [9]:
banana = t[1]
print(banana)

Banane

In [11]:
cursor = connexion.cursor()

In [12]:
# requete SQL qu'on assigne à la variable query en tant que chaine de caractères - string

query = "select * from recent_grads;"

In [13]:
# exécute la requete SQL situé dans la variable query et ce curseur convertit les résultats en tuples et les stockent 
# dans une variable locale

cursor.execute(query)

In [14]:
# Chercher tous les résultats qu'on a récuperé sous la forme d'une liste de tuples et qu'on assigne à la variable results
results = cursor.fetchall()

In [15]:
# list_of_tuples = [(1,2,3), ("été","printemps"), ...]

In [17]:
print(results[0:5])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

    . Ecrire une requete qui retourne toutes les valeurs de la colonne Major depuis la table recent_grads.
    . Stocker les résultats (liste de tuples) et assigner les à la variable majors.
    . Enfin afficher les 5 premeirs tuples résultats de majors.

In [19]:
query2 = 'select Major from recent_grads;'
majors = cursor.execute(query2).fetchall()
print(majors[0:5])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',), ('CHEMICAL ENGINEERING',)]

### Cherecher un certain nombre de résultats via Python sur SQL

In [20]:
# fetchone() qui retourne un seul élément
# fetchmany(n) qui retourne le nombre d'élément indiqué en paramètre
# notons qu'à chaque fois que l'on utilise cette méthode elle incrémente au fure et à mesure

In [25]:
import sqlite3
connexion = sqlite3.connect('jobs.db')
cursor = connexion.cursor()
query = 'select Major, Major_category from recent_grads;'
cursor.execute(query)

In [27]:
first_result = cursor.fetchone()

In [28]:
second_result = cursor.fetchone()

In [29]:
print(first_result)
print(second_result)

('MINING AND MINERAL ENGINEERING', 'Engineering')
('METALLURGICAL ENGINEERING', 'Engineering')

In [30]:
next_five_results = cursor.fetchmany(5)
print(next_five_results)

[('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering'), ('NUCLEAR ENGINEERING', 'Engineering'), ('ACTUARIAL SCIENCE', 'Business'), ('ASTRONOMY AND ASTROPHYSICS', 'Physical Sciences')]